@model Student
@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Profile";
}

<br>
    <h3>Enter data for new student and add to the course</h3>
    <input asp-for="Enrollments" type="hidden" />
    <input asp-for="Pic" type="hidden" />
    <input asp-for="StudentId" type="hidden" />
    <input asp-for="UserName" type="hidden" />
    <table>
        <tr>
            <td><label asp-for="StudentId">StudentID:</label></td>
            <td><input asp-for="StudentId" type="text" disabled="disabled" /></td>
        </tr>
        <tr>
            <td><label asp-for="FName">First Name:</label></td>
            <td><input asp-for="FName" type="text" /></td>
        </tr>
        <tr>
            <td><label asp-for="LName">Last Name:</label></td>
            <td><input asp-for="LName" type="text" /></td>
        </tr>
        <tr>
            <td><label asp-for="Address">Address:</label></td>
            <td><input asp-for="Address" type="text" /></td>
        </tr>
        <tr>
            <td><label asp-for="City">City:</label></td>
            <td><input asp-for="City" type="text" /></td>
        </tr>
        <tr>
            <td><label asp-for="Province">Province:</label></td>
            <td><input asp-for="Province" type="text" /></td>
        </tr>
    </table>
    <br />
    <a asp-controller="Student" asp-action="List" id="slist">Back to List</a>
    

